@model MVC_CORE_Project.Models.BookingCls

<form asp-action="Staff_Cancel_Booking_Click" class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label">Consumer No : </label>
        <input asp-for="ConsumerNo" class="form-control" id="t2" required />
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Cancel Booking" class="btn btn-success" />
    </div>
    <div>
        @Html.ActionLink("Go back to Home Page", "StaffHome", "Login")
    </div>

</form>

@{
    try
    {
        if (TempData["msg"] != null)
        {
            <script>
                alert('@TempData["msg"]');
            </script>
        }
    }
    catch (Exception e)
    {
        <script>
            alert('@e');
        </script>
    }
}